<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0" /> -->
    <title><%= title %></title>
    <!-- Added fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <!-- file link  -->
    <link rel="stylesheet" href="/css/home.css" />

    <!-- google font  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="main">

        <!-- Heading Title  -->
        <div class="main__header">
        <h1 class="main__h1"><%= title %></h1>

        <!-- Making Form For Input -->
        <form action="/action/createTodo" method="POST">
          <div class="header">

            <!-- description input for to do  -->
            <div class="header__description">
              <p>DESCRIPTION</p>
              <input
                
                type="text"
                placeholder="What do you Need to do?"
                name="description"
                required
              />
            </div>

            <!-- container - Category & calander  -->
            <div class="header__container">

                <!-- Drop down list for work occpation -->
                <div class="header__category" >
                <p>CATEGORY</p>
                <select name="category" id="">
                    <option value="School">Choose the Category</option>
                    <option value="School">School</option>
                    <option value="Work">Work</option>
                    <option value="Home">Office</option>
                    <option value="personal"> Personal</option>
                    <option value="cleaning"> Cleaning </option>
                    <option value="other">Other</option>
                </select>
                </div>

                <!-- calander for selecting dd/mm/yy  -->
                <div class="header__calander">
                    <p>DUE DATE</p>

                    <input
                        type="date"
                        id="start"
                        name="date"
                        value="YYYY-MM-DD"
                        min="2018-01-01"
                        max="2100-12-31"
                    />
                </div>
               
            </div> 
            <div class="header__btn">
                <!-- button to add a new task and sumbit form -->
                <button id="add-button" type="submit"> 
                  <i class="fas fa-plus"></i>
                  <span>Add Task</span> 
              </button>
              
                 <!-- button to delete all the selected tasks -->
                <button id="delete-button" type="submit" form="tasks-list-form">
                    <i class="fas fa-trash-alt"></i>
                    <span>Delete Tasks</span>
                </button>
            </div> 
        </div>
        </form>
      </div>

      <div class="main__content">
        <form action="/action/delete-tasks" method="POST" id="tasks-list-form">
          <% for (i of todo_list) { %>
            <p >
              <input type="checkbox" value="<%= i.id %>" name="id"><%= i.description %><span class="main__date"><i class="fas fa-calendar-alt" style="margin-right: 1rem;"></i><%= i.date %> </span></input>
              <button type="button"><%= i.category %> </button>
            </p>
          <% } %>
        </form>
      </div>
    </div>
  </body>
</html>
